* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  background-color: rgba(0, 0, 0, 1);
}

.nav {
  height: 52.5px;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  margin: auto;
  z-index: 50;
}

.nav-logo-container {
  display: flex;
  align-items: center;
  margin: 5px 3.5rem;
  img {
    width: 40px;
    height: 40px;
  }
  img:hover{
    filter: brightness(50%);
  }
}

footer {
  align-items: center;
  text-align: center;
  background-color: black;
  padding: 2rem;
  color: white;
}

footer a {
  color: white;
}
@media screen and (max-width: 600px) {
  .nav-logo-container {
    margin: 5px 1rem;
  }
}
