$teal: #05cfd3;
$main-font: "Poppins", sans-serif;

* {
  margin: 0;
  padding: 0;
}
//Global
h1,
h2,
h3,
h4,
h5 {
  font-family: $main-font;
}
.teal-button {
  background-color: $teal;
  padding: 0.8rem 1.5rem;
  font-size: 1.1rem;
  font-family: $main-font;
  border: none;
  margin-top: 2rem;
  border: 1px solid $teal;
  cursor: pointer;
  margin-left: 1rem;
  transition: all 0.4s ease-in-out;
  border-radius: 5px;
}
.teal-button:hover {
  color: white;
  background-color: transparent;
}
.spotify-player {
  width: 475px;
  height: 370px;
}
.carousel {
  width: 85%;
  margin: auto;
  img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    padding: 0.5rem;
    border: 1px solid black;
  }
}
.loading-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.span-teal {
  color: $teal;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f500;
}

*::-webkit-scrollbar {
  width: 5px;
  background-color: #f5f5f500;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  height: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: rgba(0, 238, 255, 0.753);
}

*::-webkit-scrollbar-track-piece:end {
  background: transparent;
  margin-bottom: 5px;
}

*::-webkit-scrollbar-track-piece:start {
  background: transparent;
  margin-top: 5px;
}

//End Global

//Landing Page
.hero-container {
  display: flex;
  height: auto;
  padding: 1.5rem;
  justify-content: center;
  align-items: center;
  color: white;
  background: url("Images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  input {
    padding: 0.8rem;
    color: black;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: 5px;
    width: 500px;
  }

  .hero-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 2rem;
    margin: auto;
    gap: 2rem;
  }
  .hero-new-releases {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
    img {
      height: 100%;
      width: 100%;
      transition: 0.4s all ease-in-out;
    }
    p:nth-child(3) {
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
.hero-heading {
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 1500;
}
.hero-subheading {
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
  font-size: 2vw;
}
.recommended-container {
  margin: auto;
  text-align: center;
  background-color: black;
  color: white;
  h1 {
    padding: 4rem 0 4rem 0;
  }
}
.sales-landing-container {
  background-color: black;
  color: white;
  text-align: center;
  .sales-container {
    width: 85%;
    margin: auto;
    padding: 4rem 0 4rem 0;
    p {
      font-size: 5rem;
    }
    span {
      color: $teal;
    }
  }
}
.signup-landing-container {
  background-color: black;
  color: white;
  text-align: center;
  .signup-container {
    padding-bottom: 4rem;
    h1 {
      padding: 4rem 0 0rem 0;
    }
    span {
      color: $teal;
    }
    h3 {
      padding-bottom: 2rem;
    }
    label {
      display: block;
      font-size: 1.25rem;
      padding: 1rem;
    }
    input {
      background-color: white;
      padding: 0.8rem;
      font-size: 1.5rem;
      color: black;
      border: none;
      border-radius: 1px;
      width: 40%;
    }
    button {
      display: block;
      margin: auto;
      margin-top: 1rem;
      width: 40%;
    }
  }
}
//End Landing Page

//Album Page
.album-container {
  display: flex;
  color: white;
  background-color: black;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 4rem 1rem;

  .album-grid {
    display: flex;
    gap: 2rem;
    padding: 2rem;
    width: 87.5%;
    margin: auto;
    align-items: center;
    justify-content: center;
  }

  .album-info {
    h1,
    h3 {
      margin-top: 1rem;
      text-shadow: 1px 1px 1px black;
    }
    h1 {
      margin-bottom: 1rem;
    }
    .album-artist {
      transition: 0.4s all ease-in-out;
      color: hotpink;
    }
    .album-artist:hover {
      text-decoration: underline;
    }
  }
}
//Album Page End

//Artist Page
.artist-container {
  display: flexbox;
  color: white;
  background-color: black;
  height: auto;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
//Artist Page
.artist-banner {
  width: 100%;
  position: relative;
  img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
    object-position: center;
  }
  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6rem;
    z-index: 20;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 1);
  }
  //gradient overlay
  .overlay {
    position: absolute;
    width: 100%;
    height: 80vh;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75));
    top: 0;
    z-index: 10;
  }
  iframe {
    position: absolute;
    left: 2.5%;
    bottom: 5%;
    z-index: 20;
  }
  .genres {
    position: absolute;
    right: 2.5%;
    bottom: 5%;
    z-index: 20;
  }
}

.latest-album-wrapper {
  display: flex;
  width: 85%;
  margin: 2rem auto;
  flex-direction: column;

  .album-info-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    img {
      width: auto;
    }
  }
  .album-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    iframe {
      width: 97.5%;
    }
  }
}
.top-tracks-wrapper {
  display: flex;
  width: 85%;
  margin: auto;

  .top-tracks-container {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  h1 {
    padding: 2rem 0;
  }
  iframe {
    transition: all ease-in-out 0.2s;
    outline: 2px solid transparent;
  }
  iframe:hover {
    transform: scale(1.01);
    outline: 2px solid hotpink;
  }
}

.similar-artist-wrapper {
  display: flex;
  width: 85%;
  margin: auto;
  flex-direction: column;
  .similar-artist-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid transparent;
      transition: 0.1s ease-in-out all;
    }
    img:hover {
      border-color: hotpink;
    }
  }
}
.artist-albums-wrapper {
  display: flex;
  width: 85%;
  margin: auto;
  flex-direction: column;
  overflow-x: scroll;
  .albums-container {
    display: flex;
    gap: 2rem;
    h5 {
      padding: 1rem 0;
    }
    img {
      border: 2px solid transparent;
      transition: 0.1s ease-in-out all;
    }
    img:hover {
      border-color: hotpink;
    }
  }
}

//Artist Page End

//Search Result Page
.search-container {
  height: auto;
  color: white;
  background: radial-gradient(circle, rgba(158, 56, 56, 0.85) 0%, rgba(37, 8, 62, 0.9) 100%, rgba(26, 27, 125, 1) 100%),
    url("Images/CSS/cubes.png");
  justify-content: center;
  align-items: center;
  h1 {
    text-align: center;
    padding: 3rem 0 3rem 0;
  }
  hr {
    width: 50%;
    margin: auto;
    border-color: rgba(255, 255, 255, 0.3);
    margin-top: 3rem;
  }
}
.search-grid-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: auto;

  img {
    height: 640px;
    width: 640px;
    object-fit: cover;
    display: inline;
    border-radius: 5px;
  }
  .search-grid-more-artist {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.5rem;
    img {
      border-radius: 50%;
      height: 150px;
      width: 150px;
      object-fit: cover;
      transition: all 0.4s ease-in-out;
    }
    img:hover {
      filter: saturate(0);
    }
  }
}
.albums-tracks-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 80%;
  margin: auto;
  .track-container {
    display: grid;
    background-color: rgba(0, 0, 0, 0.4);
    grid-template-columns: repeat(2, 1fr);
    text-align: left;

    padding: 1rem;
  }
  .track-container:hover {
    background-color: $teal;
  }
  .card-image {
    border-radius: 50%;
    display: flex;
    margin-left: auto;
  }
}
//Search Page End

//Playlist Start
.playlist-container {
  display: flex;
  height: 100vh;
  color: white;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .playlist-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .playlist-info {
    h1,
    h3 {
      margin-top: 1rem;
    }
    h1 {
      margin-bottom: 1rem;
    }
  }
}
//Playlist End

//Track Start
.track-page-container {
  display: flex;
  height: 100vh;
  color: white;
  justify-content: center;
  align-items: center;

  background: radial-gradient(circle, rgba(158, 56, 56, 0.85) 0%, rgba(37, 8, 62, 0.9) 100%, rgba(26, 27, 125, 1) 100%),
    url("Images/CSS/cubes.png");

  .track-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;

    span:hover {
      text-decoration: underline;
    }
  }
  .track-info {
    h1,
    h3 {
      margin-top: 1rem;
    }
    h1 {
      margin-bottom: 1rem;
    }
  }
}
//Track End
@media screen and (min-width: 3840px) {
  //Artist Page
  .artist-banner {
    h1 {
      font-size: 5vw;
    }
  }
  .latest-album-wrapper,
  .top-tracks-wrapper,
  .similar-artist-wrapper,
  .artist-albums-wrapper {
    width: 50%;
  }

  //Album Page
  .album-container {
    .album-grid {
      img {
        height: 900px;
      }
    }
  }
  //Playlist
  .playlist-container {
    .playlist-grid {
      img {
        height: 900px;
      }
    }
  }

  .search-grid-header {
    display: flex;
    justify-content: center;
    gap: 10rem;
  }
}
@media screen and (min-width: 2560px) {
  //Artist Page
  .artist-banner {
    h1 {
      font-size: 5vw;
    }
  }
  .latest-album-wrapper,
  .top-tracks-wrapper,
  .similar-artist-wrapper,
  .artist-albums-wrapper {
    width: 65%;
  }
  //Search Page
  .search-grid-header {
    display: flex;
    justify-content: center;
    gap: 8rem;
  }
}
@media screen and (max-width: 1024px) {
  //Landing Page
  .hero-container {
    height: auto;
    input {
      margin-top: 2rem;
    }
    .hero-grid {
      margin-top: 2rem;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      gap: 2rem;
      width: 90%;
    }
  }
  .hero-heading {
    font-size: 5rem;
  }
  .hero-subheading {
    font-size: 2.5rem;
  }
  .signup-landing-container {
    .signup-container {
      width: 90%;
      margin: auto;
    }
  }
  //Album Page
  .album-container {
    height: auto;
    .album-grid {
      width: 95%;
      padding: 4rem 1.5rem;
      margin: auto;
      display: grid;
      justify-content: center;
      place-content: center;
      img {
        width: 100%;
        margin: auto;
        object-fit: fill;
        height: auto;
      }
      iframe {
        margin: auto;
        width: 100%;
      }
    }
  }
  //Playlist
  .playlist-container {
    height: auto;
    padding: 5rem 0 5rem 0;
    .playlist-grid {
      width: 80%;
      grid-template-columns: auto;
      justify-content: center;
      img {
        width: 100%;
        object-fit: cover;
        height: 500px;
      }
      iframe {
        width: 100%;
      }
    }
  }
  //Artist Page
  .latest-album-wrapper {
    .album-info-container {
      flex-direction: column;
      img {
        width: 100%;
      }
    }
  }
  .similar-artist-wrapper {
    .similar-artist-container {
      img {
        height: 125px;
        width: 125px;
      }
    }
  }
  //Search Page
  .search-grid-header {
    width: 90%;
    grid-template-columns: auto;
    img {
      width: 100%;
    }
    h2 {
      padding: 0 0 4rem 0;
    }
    .search-grid-more-artist {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 90%;
      margin: auto;
    }
  }
}
@media screen and (max-width: 600px) {
  .teal-button {
    margin-left: 0;
  }
  .hero-heading {
    font-size: 3rem;
  }
  .hero-subheading {
    font-size: 1.5rem;
  }

  //Landing Page
  .hero-container {
    height: auto;
    padding: 4rem;
    input {
      width: 100%;
      width: 325px;
    }
    .hero-new-releases {
      grid-template-columns: repeat(1, 1fr);
      padding: 0;
    }
  }
  .sales-landing-container {
    .sales-container {
      p {
        font-size: 3rem;
      }
    }
  }
  .signup-landing-container {
    .signup-container {
      width: 90%;
      margin: auto;
      input {
        width: 80%;
      }
      button {
        width: 80%;
      }
    }
  }

  //Search Page
  .search-container {
    padding-bottom: 4rem;
  }
  .search-grid-header {
    width: 92.5%;
    grid-template-columns: auto;
    img {
      width: 100%;
    }
    h2 {
      padding: 0 0 4rem 0;
    }
    .search-grid-more-artist {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 90%;
      margin: auto;
    }
  }
  .albums-tracks-container {
    display: grid;
    width: 95%;
    grid-template-columns: auto;
  }
  //Artist
  .artist-banner {
    img {
      height: 100vh;
    }
    .overlay {
      position: absolute;
      width: 100%;
      height: 100vh;
      background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75));
      top: 0;
      z-index: 10;
    }
    .genres {
      position: absolute;
      right: 5%;
      bottom: 5%;
      z-index: 20;
      font-size: 0.75rem;
    }
  }
}
